.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

test/unit/coverage
test/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/config/*
/build/*
package-lock.json
/src/components/Charts/snapline.vue
/src/components/Charts/columnarChart.vue
/src/components/Charts/DayControlChart.vue
/src/components/Charts/PlusmBarChart.vue
/src/styles/admin-ui-theme.scss